@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-cambridge: #92BFB1;
    --color-sgray: #DAD6D6;
    --color-coffe: #694A38;
    --color-active: #F4AC45;
    --color-active2: #F8CB8B;
    --color-bradius: #C1750B;
}
